* {
	@include hide-scroll;
	box-sizing: border-box !important;
	margin: 0;
	padding: 0; 
}

body {
	background-color: $grey;
	background: url('img/grid4.png');
	background-position: top left;
  	background-size: $grid * 48 $grid;
  	background-repeat: repeat;
}

div {
	position: relative;
	display: block;
	background: $background-color;
	clear: none;
}

#all {
	@include center-horizontal;
	width: 1440px;
	height: auto;
	background-color: $grey;
	background: url('img/grid4.png');
  	background-size: $grid * 48 $grid;
  	background-position: left top;
  	background-repeat: repeat-y;
  	margin: 0;
  	padding: $grid 0 0 $grid;
}

#header {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: $grid * 2;
	background: transparent; 
}

#index {
	position: fixed;
	z-index: 10;
	margin: $grid 0 0 $grid * 2; 
	width: 4 * $grid;
	height: 2 * $grid;
	text-transform: uppercase;
	border: $red-border;
	cursor: pointer;
	&:hover {
		color: white;
		background: red;
		border: 3px solid white; 
	}
	p {
		display: block;
		text-align: center;
		vertical-align: center;
		line-height: 2 * $grid;
		cursor: pointer;
	}
}

#print {
	position: absolute;
	top: $grid;
	right: $grid;
	line-height: $grid * 2;
	text-align: center;
	border: $red-border;
	width: $grid * 4;
	height: $grid * 2; 
	&:hover {
		p,a {
			color: white;	
		}
		background: red;
		border: 3px solid white; 
	}
}

#showcase {
	position: fixed;
	top: $grid;
	right: $grid * 6;
	line-height: $grid * 2;
	text-align: center;
	border: $red-border;
	width: $grid * 4;
	height: $grid * 2; 
	&:hover {
		p,a {
			color: white;	
		}
		background: red;
		border: 3px solid white; 
	}	
}

#content {
	margin: $grid 0 $grid $grid; 
	padding: 18px;
	display: inline-block;
	float: left;
	width: 12 * $grid;
	height: 19 * $grid;
	text-transform: uppercase;
	border: $red-border;
	ul li {
		margin-bottom: $line-height;
		&:last-child {
			margin: 0 !important;
		}
	}
}

#title {
	margin: $grid $grid $grid $grid * 3;
	padding: $grid * 2.5 $grid 0 $grid;
	display: inline-block;
	float: right;
	text-align: center;
	width: 30 * $grid;
	height: 19 * $grid;
	h1 {
		font-family: $serif-stack-bold;
		font-size: 180px;
		line-height: 130px;
		letter-spacing: -1px;
		text-align: right;
		margin: $grid $grid * 3 $grid 0 ;
		color: red;
	}
	h2 {
		font-family: $sans-serif-stack;
		font-size: 30px;
		line-height: 35px;
		width: 80%;
		@include center-horizontal;

	}
	p {
		margin-top: $grid * 1.8;
	}
}

#abstract, #introductie, #ch-1, #ch-2-0, #ch-2-1, #ch-2-2, #ch-2-3, #ch-2-4, #ch-2-5, #ch-3, #conclusie, #bronnen, #sources, #shoutout {
	display: inline-block;
	float: right;
	width: $grid * 31;
	margin: $grid $grid 0 0 ;
	padding: 0 20px $grid 20px;
}

#conclusie {
	// margin-bottom: $grid * 4;
}

#sources {
	ul {
		li {
			margin: $grid 0 0 0;
			&:first-child {
				margin: 0;
			}
		}
	}
}

#shoutout {
	text-align: center;
	padding: 20px; 
}

#misleidingen {
	display: inline-block;
	width: $grid * 13;
	height: $grid * 2;
	background: transparent;
	.block {
		position: absolute; 
		width: $grid * 13;
		padding: 20px; 
		&#b-1 { 
			top: $grid * 1;
			padding: 0 !important;
		}
		&#b-2 {
			top: $grid * 10;
		}
		&#b-3 {
			top: $grid * 90;	
		}
		&#b-4 {
			top: $grid * 110;	
		}
		&#b-5 {
			top: $grid * 140;	
		}
		&#b-6 {
			top: $grid * 220;	
		}
		&#b-7 {
			top: $grid * 260;	
		}
		&#b-8 {
			top: $grid * 300;	
		}
		&#b-9 {
			top: $grid * 330;	
		}
		&#b-12 {
			top: $grid * 461;
		}
		&#b-10 {
			top: $grid * 690;	
		}
		&#b-11 {
			top: $grid * 720;	
		}
	}
}

.header {
	width: 100%;
	text-align: center;
	line-height: 2 * $grid;
	text-transform: uppercase;
}

#right {
	position: absolute;
	display: inline-block;
	margin: 0 $grid 0 0;
	background: none;
	width: $grid * 33;
	top: $grid * 24;
	left: $grid * 15;
	z-index: -10;
	height: 100%;
	border-left: $red-border;
	border-top: $red-border;
	border-right: none;
	border-bottom: none;
}

#left {
	position: absolute;
	display: inline-block;
	margin: 0 0 0 $grid * -100 ;
	background: none;
	width: $grid * 300;
	// height: $grid * 900;
	top: $grid * 24;
	left: $grid * -1;
	border-top: $red-border;
}