* {
  &::selection {
    background: transparent;
    color: $red;
  }
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $system-stack;
}

a {
  color: $main-color;
  text-decoration: none;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $main-color;
  }
}

p, ul, li, h1, blockquote {
  font-family: $sans-serif-stack;
}

em {
  font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
    line-height: 7px;
}

.underline {
  border-bottom: $red-border;
}

blockquote {
  margin-left: $grid;
  width: $grid * 22;
}

.indent {
  display: inline-block;
  width: $grid;
}