@font-face {
    font-family: "Apercu";
    src: url("Apercu.eot");
    src: url("Apercu.eot?#iefix") format("embedded-opentype"),
         url("Apercu.woff2") format("woff2"),
         url("Apercu.woff") format("woff"),
         url("Apercu.ttf") format("ttf"),
         url("Apercu.svg#Apercu") format("svg");
    font-style: normal;
    font-weight: regular;
}