//
// Typography
//

$font-size-small: 12px;
$line-height-small: 12px;

$font-size: 17px;
$line-height: 19px;

$font-size-baskerville-bigger: 30px;
$line-height-baskerville-bigger: 33px;

$font-size-bigger: 28px;
$line-height-bigger: 32px;

$font-size-large: 160px;
$line-height-large: 110px;

$system-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$serif-stack: 'BaskervilleMTStd-Regular', times, georgia, serif !important;
$serif-stack-italic: 'BaskervilleMTStd-Italic', times, georgia, serif !important;
$serif-stack-bold: 'BaskervilleMTStd-Bold', times, georgia, serif !important;
$serif-stack-bold-italic: 'BaskervilleMTStd-BoldIt', times, georgia, serif !important;
$sans-serif-stack: 'Apercu';
$display-stack: "Comic Sans", "Comic Sans MS";

//
// Colors
//

$background-color: #fff;
$main-color: #000;
$grey: rgb(212,212,212);
$red: rgb(255,0,0);


//
// Space
//

$grid: 30px;
$red-border: 3px solid red;

// ***


//
//  Breakpoints
//

$breakpoints: (
  'small': (max-width: 700px),
  'medium': (max-width: 1000px),
  'large': (max-width: 1600px),
  'short': (max-height: 600px),
);
